In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data'

In [3]:
df = pd.read_csv(path)

In [4]:
df.head()

   x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0  x   x   x   x  o   o   o   x   o  positive
1  x   x   x   x  o   o   o   o   x  positive
2  x   x   x   x  o   o   o   b   b  positive
3  x   x   x   x  o   o   b   o   b  positive
4  x   x   x   x  o   o   b   b   o  positive

In [5]:
df.tail()

     x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
952  o   x   x   x  o   o   o   x   x  negative
953  o   x   o   x  x   o   x   o   x  negative
954  o   x   o   x  o   x   x   o   x  negative
955  o   x   o   o  x   x   x   o   x  negative
956  o   o   x   x  x   o   o   x   x  negative

In [6]:
df.describe()

          x  x.1  x.2  x.3    o  o.1  x.4  o.2  o.3  positive
count   957  957  957  957  957  957  957  957  957       957
unique    3    3    3    3    3    3    3    3    3         2
top       x    x    x    x    x    x    x    x    x  positive
freq    417  377  417  377  458  378  417  378  418       625

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()

In [9]:
df['x'] = le.fit_transform(df['x'])
df

     x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0    2   x   x   x  o   o   o   x   o  positive
1    2   x   x   x  o   o   o   o   x  positive
2    2   x   x   x  o   o   o   b   b  positive
3    2   x   x   x  o   o   b   o   b  positive
4    2   x   x   x  o   o   b   b   o  positive
..  ..  ..  ..  .. ..  ..  ..  ..  ..       ...
952  1   x   x   x  o   o   o   x   x  negative
953  1   x   o   x  x   o   x   o   x  negative
954  1   x   o   x  o   x   x   o   x  negative
955  1   x   o   o  x   x   x   o   x  negative
956  1   o   x   x  x   o   o   x   x  negative

[957 rows x 10 columns]

In [10]:
df['x.1'] = le.fit_transform(df['x.1'])
df

     x  x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0    2    2   x   x  o   o   o   x   o  positive
1    2    2   x   x  o   o   o   o   x  positive
2    2    2   x   x  o   o   o   b   b  positive
3    2    2   x   x  o   o   b   o   b  positive
4    2    2   x   x  o   o   b   b   o  positive
..  ..  ...  ..  .. ..  ..  ..  ..  ..       ...
952  1    2   x   x  o   o   o   x   x  negative
953  1    2   o   x  x   o   x   o   x  negative
954  1    2   o   x  o   x   x   o   x  negative
955  1    2   o   o  x   x   x   o   x  negative
956  1    1   x   x  x   o   o   x   x  negative

[957 rows x 10 columns]

In [11]:
df['x.2'] = le.fit_transform(df['x.2'])
df['x.3'] = le.fit_transform(df['x.3'])
df

     x  x.1  x.2  x.3  o o.1 x.4 o.2 o.3  positive
0    2    2    2    2  o   o   o   x   o  positive
1    2    2    2    2  o   o   o   o   x  positive
2    2    2    2    2  o   o   o   b   b  positive
3    2    2    2    2  o   o   b   o   b  positive
4    2    2    2    2  o   o   b   b   o  positive
..  ..  ...  ...  ... ..  ..  ..  ..  ..       ...
952  1    2    2    2  o   o   o   x   x  negative
953  1    2    1    2  x   o   x   o   x  negative
954  1    2    1    2  o   x   x   o   x  negative
955  1    2    1    1  x   x   x   o   x  negative
956  1    1    2    2  x   o   o   x   x  negative

[957 rows x 10 columns]

In [12]:
df['o'] = le.fit_transform(df['o'])
df['o.1'] = le.fit_transform(df['o.1'])
df

     x  x.1  x.2  x.3  o  o.1 x.4 o.2 o.3  positive
0    2    2    2    2  1    1   o   x   o  positive
1    2    2    2    2  1    1   o   o   x  positive
2    2    2    2    2  1    1   o   b   b  positive
3    2    2    2    2  1    1   b   o   b  positive
4    2    2    2    2  1    1   b   b   o  positive
..  ..  ...  ...  ... ..  ...  ..  ..  ..       ...
952  1    2    2    2  1    1   o   x   x  negative
953  1    2    1    2  2    1   x   o   x  negative
954  1    2    1    2  1    2   x   o   x  negative
955  1    2    1    1  2    2   x   o   x  negative
956  1    1    2    2  2    1   o   x   x  negative

[957 rows x 10 columns]

In [13]:
df['x.4'] = le.fit_transform(df['x.4'])
df['o.2'] = le.fit_transform(df['o.2'])
df['o.3'] = le.fit_transform(df['o.3'])
df

     x  x.1  x.2  x.3  o  o.1  x.4  o.2  o.3  positive
0    2    2    2    2  1    1    1    2    1  positive
1    2    2    2    2  1    1    1    1    2  positive
2    2    2    2    2  1    1    1    0    0  positive
3    2    2    2    2  1    1    0    1    0  positive
4    2    2    2    2  1    1    0    0    1  positive
..  ..  ...  ...  ... ..  ...  ...  ...  ...       ...
952  1    2    2    2  1    1    1    2    2  negative
953  1    2    1    2  2    1    2    1    2  negative
954  1    2    1    2  1    2    2    1    2  negative
955  1    2    1    1  2    2    2    1    2  negative
956  1    1    2    2  2    1    1    2    2  negative

[957 rows x 10 columns]

In [14]:
df['positive'] = le.fit_transform(df['positive'])
df

     x  x.1  x.2  x.3  o  o.1  x.4  o.2  o.3  positive
0    2    2    2    2  1    1    1    2    1         1
1    2    2    2    2  1    1    1    1    2         1
2    2    2    2    2  1    1    1    0    0         1
3    2    2    2    2  1    1    0    1    0         1
4    2    2    2    2  1    1    0    0    1         1
..  ..  ...  ...  ... ..  ...  ...  ...  ...       ...
952  1    2    2    2  1    1    1    2    2         0
953  1    2    1    2  2    1    2    1    2         0
954  1    2    1    2  1    2    2    1    2         0
955  1    2    1    1  2    2    2    1    2         0
956  1    1    2    2  2    1    1    2    2         0

[957 rows x 10 columns]